.post-content code {
  background: #f8f8f8;
  border-radius: 3px;
  padding: 2px 5px;
}
.post-content code {
  background: #f8f8f8 !important;
}
/* 使用Atom Dark主题 */
.highlight {
  background: #282c34 !important;
  pre {
    color: #abb2bf;
  }
  .keyword {
    color: #c678dd;
  }
}
@media (max-width: 767px) {
  .post-content {
    padding: 0 15px;
    code {
      font-size: 14px;
    }
  }
}